.contact-topbar {
  background-color: rgb(0, 0, 204);
  height: 8vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.contact-main {
  width: 85vw;
  height: 85vh;
  background-color: white;
  overflow-x: scroll;
  animation: contact-center 750ms ease-in-out;
  right: 7.5vw;
  bottom: 7.5vh;
  position: absolute;
  border-radius: 12px;
  opacity: 1;
  z-index: 4;
  overflow: hidden;
}

.contact-inputorganization {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 50vw;
  margin-top: 3vh;
}

.contact-inputorganization input {
  height: 4vh;
  width: 30%;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #949494;
  font-size: 1.5rem;
  padding-left: 1vw;
}

.contact-inputorganization input::placeholder {
  color: #949494;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #949494;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #949494;
}

.contact-textarea {
  height: 80%;
  width: 80%;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #949494;
  font-size: 1.5rem;
  padding-left: 1vw;
  margin-top: 2vh;
  resize: none;
}

.contact-textarea::placeholder {
  color: #949494;
}
:-ms-textarea-placeholder {
  /* Internet Explorer 10-11 */
  color: #949494;
}

::-ms-textarea-placeholder {
  /* Microsoft Edge */
  color: #949494;
}

.contact-FormFlex {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.contact-sendbutton {
  width: 20%;
  margin-top: 2vh;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(0, 0, 204);
  border-radius: 20px;
  height: 5vh;
  font-size: 1rem;
  cursor: pointer;
}

.contact-iconFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.fa {
  padding: 20px;
  font-size: 30px;
  max-width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 80px;
}

.fa-linkedin {
  height: 58px;
}
.fa-github {
  height: 60px;
}

@keyframes contact-center {
  0% {
    right: 0vw;
    bottom: 0vh;
    border-radius: 0px 0px 12px 0px;
  }
  100% {
    right: 7.5vw;
    bottom: 7.5vh;
    border-radius: 12px;
  }
}
@-webkit-keyframes contact-center {
  0% {
    right: 0vw;
    bottom: 0vh;
    border-radius: 0px 0px 12px 0px;
  }
  100% {
    right: 7.5vw;
    bottom: 7.5vh;
    border-radius: 12px;
    opacity: 1;
  }
}
