.home-main {
  background-color: #01b5b6;
  position: absolute;
  z-index: 4;
  color: white;
  width: 80vw;
  height: 80vh;
  left: 0vh;
  top: 0vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.home-textcontainer {
  margin-left: 3vw;
}

.home-main img {
  max-width: 40%;
  margin-right: 3vw;
  border: white 1vh solid;
}
