.iconrowflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-bottom: 50px;
  background-color: #01b5b6
}
.iconrowflex div {
  margin-right: 2vh;
  margin-left: 2vh;
  margin-top: 2vh;
  border: dotted white;
  padding: 1vh;
  text-align: center;
}

.iconrowflex img {
  max-height: 6vw;
}
.iconrowflex div p {
  font-size: 1.5vw;
  text-align: center;
}

.skillset-including {
  text-align: center;
  width: 95%;
  border: dotted white;
    margin-left: 2.5%;
    padding: 1vh;
}
