.iconrowflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-bottom: 50px;
  background-color: white;
}
.iconrowflex div {
  margin-right: 2vh;
  margin-left: 2vh;
  margin-top: 2vh;
  border: dotted white;
  padding: 1vh;
  text-align: center;
}

.iconrowflex img {
  max-height: 6vw;
}
.iconrowflex div p {
  font-size: 1.5vw;
  text-align: center;
}

.skillset-including {
  text-align: center;
  width: 95%;
  border: dotted white;
  margin-left: 2.5%;
  padding: 1vh;
}

.skillset-main {
  width: 85vw;
  height: 85vh;
  background-color: white;
  animation: skillset-center 750ms ease-in-out;
  left: 7.5vw;
  bottom: 7.5vh;
  position: absolute;
  border-radius: 12px;
  opacity: 1;
  z-index: 4;
  overflow-y: scroll;
}

@keyframes skillset-center {
  0% {
    left: 0vw;
    bottom: 0vh;
    border-radius: 12px 0px 0px 0px;
  }
  100% {
    left: 7.5vw;
    bottom: 7.5vh;
    border-radius: 12px;
  }
}
@-webkit-keyframes skillset-center {
  0% {
    left: 0vw;
    bottom: 0vh;
    border-radius: 12px 0px 0px 0px;
  }
  100% {
    left: 7.5vw;
    bottom: 7.5vh;
    border-radius: 12px;
    opacity: 1;
  }
}
