.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------- IN USE ------------------- */

.App-mainbackground {
  background-color: #545454;
  padding-top: 5vh;
}
.App-maincontainer {
  margin-left: 10vw;
}

.App-header {
  background-color: #f0f0f0;
  height: 15vh;
  width: 80vw;

  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  list-style-type: none;
}
.App-header li {
  padding-right: 6vw;
  padding-left: 5vw;
  height: 100%;
  border-right: solid white 1px;
}

.App-leftbar {
  background-color: #555b75;
  color: #999999;
  width: 40vw;
  height: 75vh;
}
.App-bottomboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
