.App-main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.App-aboutme {
  background-image: url("./images/sondors-white.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: aboutme-in 750ms ease-in-out;
  position: absolute;
  border-right: 2px solid rgb(0, 0, 204);
  border-bottom: 2px solid rgb(0, 0, 204);
  border-radius: 0 0 12px 0;
  top: 0vh;
  left: 0vh;
}
.App-projects {
  background-image: url("./images/projects.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  animation: projects-in 750ms ease-in-out;
  top: 0vh;
  right: 0vh;
  border-left: 2px solid rgb(0, 0, 204);
  border-bottom: 2px solid rgb(0, 0, 204);
  border-radius: 0 0 0 12px;
}

.App-skillset {
  background-image: url("./images/head-gears.gif");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 0%;
  position: absolute;
  animation: skillset-in 750ms ease-in-out;
  border-right: 2px solid rgb(0, 0, 204);
  border-top: 2px solid rgb(0, 0, 204);
  border-radius: 0 12px 0 0;
  bottom: 0px;
  left: 0px;
}
.App-contact {
  background-image: url("./images/3-2-blue-email.png");
  background-size: 80% 80%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  animation: contact-in 750ms ease-in-out;
  border-left: 2px solid rgb(0, 0, 204);
  border-top: 2px solid rgb(0, 0, 204);
  border-radius: 12px 0 0 0;
  bottom: 0vh;
  right: 0vh;
  position: absolute;
}

.App-tilesize {
  width: 45vw;
  height: 45vh;
  background-color: black;
  transition: 750ms all ease-in-out;
  cursor: pointer;
}

.App-innertile {
  align-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.178);
}
.App-innertile p {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  color: blue;
  font-family: "Righteous", sans-serif;
  letter-spacing: 3px;
}
.App-innertile:hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.692);
}
.App-innertile p:hover {
  text-decoration: underline;
}

.App-firstname {
  position: absolute;
  top: 37vh;
  left: 15vw;
  font-size: 8vh;
}
.App-lastname {
  position: absolute;
  top: 37vh;
  right: 15vw;
  font-size: 8vh;
}
.App-fullstack {
  left: 49.5vw;
  top: 0vw;
  position: absolute;
}
.App-webdeveloper {
  left: 49.5vw;
  bottom: 0vw;
  position: absolute;
}
.App-vertialtext {
  width: 1px;
  font-size: 2.5vh;
  text-align: center;
  word-wrap: break-word;
}

.title-font {
  font-size: 2rem;
}

@import url("https://fonts.googleapis.com/css?family=Righteous");

.font-righteous {
  font-family: "Righteous", sans-serif;
  letter-spacing: 2px;
  color: white;
}

@keyframes aboutme-in {
  0% {
    left: -47vw;
    top: -47vh;
    border-radius: 555px;
  }
  80% {
    border-radius: 0 0 0px 0;
    width: 55vw;
    height: 55vh;
  }
  100% {
    border-radius: 12px;
    left: 0vw;
    top: 0vh;
    width: 45vw;
    height: 45vh;
  }
}
@-webkit-keyframes aboutme-in {
  0% {
    left: -47vw;
    top: -47vh;
    border-radius: 555px;
  }
  80% {
    border-radius: 0 0 0px 0;
    width: 55vw;
    height: 55vh;
  }
  100% {
    border-radius: 12px;
    left: 0vw;
    top: 0vh;
    width: 45vw;
    height: 45vh;
  }
}

@keyframes skillset-in {
  0% {
    left: -47vw;
    bottom: -47vh;
    border-radius: 0 555px 0 0;
  }
  80% {
    border-radius: 0 0px 0 0;
    width: 55vw;
    height: 55vh;
  }
  100% {
    border-radius: 0 12px 0 0;
    bottom: 0vh;
    left: 0vh;
    width: 45vw;
    height: 45vh;
  }
}
@-webkit-keyframes skillset-in {
  0% {
    left: -47vw;
    bottom: -47vh;
    border-radius: 0 555px 0 0;
  }
  80% {
    border-radius: 0 0px 0 0;
    width: 55vw;
    height: 55vh;
  }
  100% {
    border-radius: 0 12px 0 0;
    bottom: 0vh;
    left: 0vh;
    width: 45vw;
    height: 45vh;
  }
}

@keyframes projects-in {
  0% {
    right: -47vw;
    top: -47vh;
    border-radius: 0 0 0 555px;
  }
  80% {
    border-radius: 0 0 0 0px;
    width: 55vw;
    height: 55vh;
  }
  100% {
    border-radius: 0 0 0 12px;
    right: 0vw;
    top: 0vh;
    width: 45vw;
    height: 45vh;
  }
}
@-webkit-keyframes projects-in {
  0% {
    right: -47vw;
    top: -47vh;
    border-radius: 0 0 0 555px;
  }
  80% {
    border-radius: 0 0 0 0px;
    width: 55vw;
    height: 55vh;
  }
  100% {
    border-radius: 0 0 0 12px;
    right: 0vw;
    top: 0vh;
    width: 45vw;
    height: 45vh;
  }
}

@keyframes contact-in {
  0% {
    right: -47vw;
    bottom: -47vh;
    border-radius: 555px 0 0 0;
  }
  80% {
    width: 55vw;
    height: 55vh;
    border-radius: 0px 0 0 0;
  }
  100% {
    border-radius: 12px 0 0 0;
    right: 0vw;
    bottom: 0vh;
    width: 45vw;
    height: 45vh;
  }
}
@-webkit-keyframes contact-in {
  0% {
    right: -47vw;
    bottom: -47vh;
    border-radius: 555px 0 0 0;
  }
  80% {
    width: 55vw;
    height: 55vh;
    border-radius: 0px 0 0 0;
  }
  100% {
    border-radius: 12px 0 0 0;
    right: 0vw;
    bottom: 0vh;
    width: 45vw;
    height: 45vh;
  }
}

.boxCloser {
  background-color: rgba(0, 0, 0, 0.725);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0vh;
  left: 0vh;
  z-index: 3;
}
.boxCloser p {
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  text-align: center;
  width: 20vw;
}
.boxCloser p:hover {
  text-decoration: underline;
}

/* ------------------------------------ OLD STUFF BELO --------------------------------------------- */
/* .App-mainbackground {
  background-color: #545454;
  padding-top: 5vh;
}
.App-maincontainer {
  margin-left: 10vw;
}

.App-header {
  background-color: #e9e9e9;
  height: 25vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
.App-header link {
  padding-right: 6vw;
  padding-left: 5vw;
  height: 100%;
  border-right: solid black 1px;
  margin-bottom: 0vh;
}

.App-leftbar {
  background-color: #555b75;
  color: #999999;
  width: 30vw;
  height: 70vh;
}
.App-bottomboxes {
  margin-top: 0vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

@import url("https://fonts.googleapis.com/css?family=Righteous");

.font-righteous {
  font-family: "Righteous", sans-serif;
  letter-spacing: 1px;
}
.title-font {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

.nav-icon-organizer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}



.header-bordermaker {

  border: solid 2px #555b75;
  background-color: #555b75;
  border-radius: 50%;
  padding: 0vw;
  transition-property: padding;
  transition-duration: .1s;
  transition-timing-function: linear;
margin-right: -.5vw;
margin-left: -.5vw;
  padding: 1vw;

}
Link p {
align-content: center;
} */
