.home-main {
  background-color: white;
  position: absolute;
  z-index: 4;
  color: black;
  width: 85vw;
  height: 85vh;
  left: 7.5vw;
  top: 7.5vh;
  animation: aboutme-center 750ms ease-in-out;
  border-radius: 12px;
}
.aboutme-flex {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.home-textcontainer {
  margin-left: 3vw;
}
.home-textcontainer p {
  width: 90%;
}

.home-main-img-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow-x: auto;
  height: 65vh;
  padding-left: 1vw;
}

.home-main-img-flex img {
  width: 95%;
  margin-left: 1vw;
  margin-right: 3vw;
  margin-bottom: 3vw;
  border: blue 0.5vh solid;
}

ul {
  margin-bottom: 5vw;
  list-style: none;
}
@keyframes aboutme-center {
  0% {
    left: 0vw;
    top: 0vh;
    border-radius: 0px 0px 12px 0px;
  }
  100% {
    left: 7.5vw;
    top: 7.5vh;
    border-radius: 12px;
  }
}
@-webkit-keyframes aboutme-center {
  0% {
    left: 0vw;
    top: 0vh;
    border-radius: 0px 0px 12px 0px;
  }
  100% {
    left: 7.5vw;
    top: 7.5vh;
    border-radius: 12px;
  }
}
