.home-main {
  background-color: #01b5b6;
  position: absolute;
  z-index: 4;
  color: white;
  width: 85vw;
  height: 85vh;
  left: 7.5vw;
  top: 7.5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  animation: aboutme-center 750ms ease-in-out;
  border-radius: 12px;
}

.home-textcontainer {
  margin-left: 3vw;
}

.home-main img {
  max-width: 40%;
  margin-right: 3vw;
  border: white 1vh solid;
}

@keyframes aboutme-center {
  0% {
    left: 0vw;
    top: 0vh;
    border-radius: 0px 0px 12px 0px;
  }
  100% {
    left: 7.5vw;
    top: 7.5vh;
    border-radius: 12px;
  }
}
@-webkit-keyframes aboutme-center {
  0% {
    left: 0vw;
    top: 0vh;
    border-radius: 0px 0px 12px 0px;
  }
  100% {
    left: 7.5vw;
    top: 7.5vh;
    border-radius: 12px;
  }
}
